@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background-color:  #1F2937;
  --primary-color-card:#f0f4ff;
  --primary-color-1: #F9FAF8;
  --primary-color-2: #3882F6;
  --primary-color-3: #1F2937;
  --primary-color-4: #E5E7EB;
  --primary-color-5: #1F2937;
}
body {
  font-family: "Roboto";
}
.header {
  background: var(--background-color);
  height: 400px;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.top-nav,
section.presentation,
.actions,
.text {
  max-width: 60%;
}
.nav-left {
  display: flex;
}
.nav-left img {
  object-fit: cover;
}
.nav-right a {
  text-decoration: none;
  color: var(--primary-color-1);
  padding: 5px;
  margin-right: 5px;
  font-size: 18px;
}
.nav-right a:last-child {
  padding-right: 0;
  margin: 0;
}
section.presentation {
  display: flex;
  gap: 10px;
  margin-top: 80px;
  justify-content: space-between;
}
section.presentation {
  padding: 80px 0;
  margin: auto;
}
.nav-content {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  background: var(--primary-color-3);
  z-index: 1;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  min-height: 215px;
  color: var(--primary-color-1);
}
.left-container h1 {
  font-size: 48px;
}
.left-container h1,
.left-container p {
  margin-bottom: 15px;
}
.left-container .action {
  width: 30%;
  padding: 5px 15px;
  background: var(--primary-color-2);
  border: none;
  color: var(--primary-color-1);
  border-radius: 5px;
  cursor: pointer;
}
.right-container {
  min-width: 350px;
  height: 215px;
  box-shadow: 0px 0px 6px 0px rgb(21 255 0 / 75%);
}
.right-container img {
  width: 100%;
  height: 215px;
  object-fit: cover;
  border-radius: 5px;
}
.actions {
  margin: 150px auto 0;
}
.actions h1 {
  text-align: center;
  font-size: 36px;
  color: var(--primary-color-3);
}
.card-actions-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
}
.card-wrapper .info {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(to right, blue, #03e203);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  color: var(--primary-color-3);
  font-weight: 600;
}
.card-front img {
  width: 100%;
  height: 100%;
  /* height: calc(100% + 1px); */
  object-fit: cover;
  border-radius: 7px;
  /* transform: translateY(-1px); */
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color-card);
  border: 3px solid var(--primary-color-2);
  border-radius: 10px;
  cursor: pointer;
  backface-visibility: hidden;
}
.card-back,
.card:hover {
  transform: rotateY(180deg);
}
.card-back {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-back span {
  color: rgb(20 222 20);
  font-weight: bold;
}
.cb-text {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.cb-text p {
  line-height: 1.1;
}
section.inspiration {
  background: var(--primary-color-4);
  padding: 60px;
  margin: 150px 0;
}
.text {
  margin: auto;
}
.inspiration .quote {
  font-size: 36px;
  font-style: italic;
  color: var(--primary-color-5);
}
.inspiration .name {
  text-align: right;
  margin-top: 5px;
  font-weight: 600;
}
.parallax {
  background-image: url("nature.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
section.change {
  min-width: 45%;
  background: var(--primary-color-2);
  margin: auto;
  border-radius: 10px;
  padding: 40px 80px;
  color: var(--primary-color-1);
}
section .emphasize {
  font-weight: 800;
}
.sign-up-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
section .sign-up {
  background: inherit;
  padding: 5px 20px;
  color: var(--primary-color-1);
  border: 1px solid var(--primary-color-1);
  border-radius: 5px;
  cursor: pointer;
}
footer {
  background: var(--primary-color-3);
  padding: 40px 0;
  color: var(--primary-color-1);
}
.footer-container {
  text-align: center;
}
#author {
  color: green;
  font-weight: 600;
}
