@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background-color: #1F2937;
  --primary-color-card: #f0f4ff;
  --primary-color-1: #F9FAF8;
  --primary-color-2: #3882F6;
  --primary-color-3: #1F2937;
  --primary-color-4: #E5E7EB;
  --primary-color-5: #1F2937;
}
body {
  font-family: "Roboto";
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
}

.header {
  background: var(--background-color);
  height: 400px;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.top-nav,
section.presentation,
.actions,
.text {
  max-width: 60%;
}
.nav-left {
  display: flex;
  cursor: pointer;
}
.nav-left img {
  object-fit: cover;
  transition: transform 0.3s ease-out;
}
.nav-left img:hover {
  transform: scale(1.1);
}
.nav-right a {
  position: relative;
  text-decoration: none;
  color: var(--primary-color-4);
  margin-right: 10px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.nav-right a::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: -2px;
  width: 0;
  transition: 0.3s ease-out;
  background: var(--primary-color-2);
}
.nav-right a:hover {
  color: var(--primary-color-1);
}
.nav-right a:hover::after {
  width: 100%;
}
.nav-right a:last-child {
  padding-right: 0;
  margin: 0;
}
section.presentation {
  display: flex;
  gap: 10px;
  margin-top: 80px;
  justify-content: space-between;
}
section.presentation {
  padding: 80px 0;
  margin: auto;
}
.nav-content {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  background: var(--primary-color-3);
  z-index: 1;
}
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  min-height: 215px;
  color: var(--primary-color-1);
}
.left-container h1 {
  font-size: 48px;
}
.left-container h1,
.left-container p {
  margin-bottom: 15px;
}
.left-container .action {
  width: 30%;
  padding: 5px 15px;
  background: var(--primary-color-2);
  border: none;
  color: var(--primary-color-1);
  border-radius: 5px;
  cursor: pointer;
}
.right-container {
  min-width: 350px;
  height: 215px;
  box-shadow: 0px 0px 6px 0px rgba(21, 255, 0, 0.75);
}
.right-container img {
  width: 100%;
  height: 215px;
  object-fit: cover;
  border-radius: 5px;
}
.actions {
  margin: 50px auto 0;
  padding-top: 100px;
}
.actions h1 {
  text-align: center;
  font-size: 36px;
  color: var(--primary-color-3);
}
.card-actions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
}
.card-wrapper .info {
  margin-top: 10px;
  text-align: center;
  font-weight: 800;
  background-image: linear-gradient(to right, blue, #03e203);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.1em;
}
.card {
  position: relative;
  min-width: 230px;
  min-height: 230px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  color: var(--primary-color-3);
  font-weight: 600;
}
.card-front img {
  width: 100%;
  height: 100%;
  /* height: calc(100% + 1px); */
  object-fit: cover;
  border-radius: 7px;
  /* transform: translateY(-1px); */
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color-card);
  border: 3px solid var(--primary-color-2);
  border-radius: 10px;
  cursor: pointer;
  backface-visibility: hidden;
}
.card-back,
.card:hover {
  transform: rotateY(180deg);
}
.card-back {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-back span {
  color: rgb(20 222 20);
  font-weight: bold;
}
.cb-text {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.cb-text p {
  line-height: 1.1;
}
section.inspiration {
  background: var(--primary-color-4);
  padding: 60px;
  margin: 150px 0;
}
.text {
  margin: auto;
}
.inspiration .quote {
  font-size: 36px;
  font-style: italic;
  color: var(--primary-color-5);
}
.inspiration .name {
  text-align: right;
  margin-top: 5px;
  font-weight: 600;
}
.parallax {
  background-image: url("nature.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
section.change {
  min-width: 45%;
  background: var(--primary-color-2);
  margin: auto;
  border-radius: 6px;
  padding: 40px 80px;
  color: var(--primary-color-1);
}
section .emphasize {
  font-weight: 800;
}
.sign-up-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
section .sign-up {
  background: inherit;
  padding: 5px 20px;
  color: var(--primary-color-1);
  border: 1px solid var(--primary-color-1);
  border-radius: 5px;
  cursor: pointer;
}
section.accordion {
  width: 45%;
  margin: 50px auto 0;
  padding-top: 100px;
  min-height: 250px;
}
.tabs {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.accordion .tab {
  overflow: hidden;
}
.accordion h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 36px;
  background-image: linear-gradient(to right, blue, #03e203);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}
.tab input {
  display: none;
}

.tab label {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
  font-weight: 600;
  color: var(--primary-color-1);
  cursor: pointer;
  background: green;
  transition: all 0.3s ease-out;
}
.label-titel i {
  font-size: 1.1em;
  margin-right: 10px;
}
.tab label::after {
  content: "❯";
  display: block;
  text-align: center;
  transition: all 0.3s ease-out;
}
.tab label:hover {
  background: rgb(46, 150, 50);
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  background: var(--primlary-color-1);
  transition: all 0.3s ease-out;
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
input:checked + label::after {
  transform: rotate(90deg);
}

footer {
  background: var(--primary-color-3);
  padding: 40px 0;
  color: var(--primary-color-1);
}
.footer-container {
  text-align: center;
}
#author {
  color: green;
  font-weight: 600;
}
